<footer>
    <p>Designed and Developed by Abilash</p>

    <ul class="contact-list">
        <li><a href="https://github.com/abilash07-vm" target="_blank"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.dtNE8IQSVDx0zNH7JJPWBwHaHa%26pid%3DApi%26h%3D160&f=1"></a></li>
        <li><a href="mailto:abilashvm07@gmail.com" target="_blank"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.5u7A1BVR50f-1m2MNJFczAHaHa%26pid%3DApi%26h%3D160&f=1"></a></li>
        <li><a href="https://www.instagram.com/_._mr.abs_._/" target="_blank"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.XgT9d552B6R9C60Ul2yqkAHaHa%26pid%3DApi%26h%3D160&f=1"></a></li>
        <li><a href="https://www.linkedin.com/in/abilash-v-m-138a7916a/" target="_blank"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.aezSQmH-mE6FW9vcTIqLiwHaHa%26pid%3DApi%26h%3D160&f=1"></a></li>
    </ul>
</footer>
